* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-font: "Poppins", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --white: #ffffff;
  --light-blue: #e2f1ff;
  --mid-blue: #83b9ff;
  --dark-blue: #1a7dff;
  --red: #c80000;
  --black: #141414;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

.advice-generator-body {
  min-height: 100vh;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
}

.header-section {
  background-color: var(--light-blue);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header-title {
  font-family: var(--title-font);
  font-size: 2rem;
}

.social-icons {
  display: flex;
  gap: 0.8rem;
}

.error-img {
  width: 8rem;
  padding-bottom: 3rem;
}

.advice-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  gap: 2rem;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 12rem;
  padding: 2rem 4rem;
  border: 2px solid var(--white);
  border-radius: 10px;
  color: var(--white);
  background-color: var(--black);
}

.error {
  color: var(--red);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-block: 4rem;
}

.advice-btn {
  padding: 1rem 2rem;
  border: 1.5px solid var(--dark-blue);
  border-radius: 10px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
  transition-duration: 0.3s;
}

.advice-btn:hover {
  background-color: var(--white);
  color: darkblue;
}

.advice-btn:disabled {
  background-color: var(--red);
  color: var(--white);
}
